.card-body {
    min-height: 19rem;
}
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FDEB71, #F8D800, #FCCF31, #F55555, #F23AA2, #F97794, #F6416C, #FFF6B7,
    #81FBB8, #28C76F, #32CCBC, #90F7EC, #ABDCFF, #0396FF, #9F44D3, #E2B0FF);
    background-size: 3000% 3000%;
    animation: colors 240s ease infinite;
}
@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}