.card-body {
    min-height: 19rem;
}
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #250067, #2C01D8, #D500D9,#B8001C, #69000E);
    background-size: 3000% 3000%;
    animation: colors 60s ease infinite;
}
@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}